.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: white;
    color: black;
}

.top-nav-collapse .nav-link{
    color: black !important;
}

.top-nav-collapse .navbar-brand{
    color: #000 !important;
}

.top-nav-collapse .navbar-toggler-icon {
    background-image: url('assets/hamburger_menu.svg') !important;

}

@media only screen and (max-width: 768px) {
    .navbar {
       // background-color: #4285F4;
    }
}

